.mobile-bg {
  display: block;
}
.desktop-bg {
  display: none;
}

.section-wrapper {
  position: relative;
}
* {
  size: 15px;
  font-size: 15px;
}
.ommigbaggrund {
  position: absolute;
  z-index: 0;
}
.ommigtitel {
  margin-top: -2.5rem;
}
.content-on-top {
  position: relative;
  z-index: 1;
  padding: 60px 20px;
}

.h1 {
  margin: 10px;
}
.pretty-audio {
  display: block;
  margin: 2rem auto; /* centers it */
  width: 200px;
  border-radius: 25px;
  background-color: #f8e8e8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ommig2 {
  margin-right: 100px;
}

.planet-position-wrapper {
  position: relative;
  width: 100%;
  height: 600px; /* or however tall you want this section */
}
.planet-circle {
  position: absolute;
  top: 220px;
  left: 10px;
  width: 210px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #ebd9c6;
  background-color: rgba(235, 217, 198, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.2rem;
  margin-top: 1rem;
}
.planet-circle2 {
  position: absolute;
  top: 500px; /* distance from top */
  left: 140px; /* distance from left */
  width: 230px;
  height: 220px;
  border-radius: 50%;
  border: 4px solid #f2958c;
  background-color: rgba(242, 149, 140, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #27282c;
  text-align: center;
  padding: 1.5rem;
}
.planet-circle3 {
  position: absolute;
  top: 800px; /* distance from top */
  left: 30px; /* distance from left */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid #fcd993;
  background-color: rgba(252, 217, 147, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #27282c;
  text-align: center;
  padding: 1.5rem;
}

.planet-circleextra {
  position: absolute;
  top: 3350px; /* distance from top */
  left: 340px; /* distance from left */
  width: 340px;
  height: 340px;
  border-radius: 50%;
  border: 4px solid #ebd9c6;
  background-color: rgba(235, 217, 198, 0.2);
  display: flex;
  justify-content: center;
  text-align: center;
  color: #27282c;
  margin: 0;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column; /* just in case */
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 340px;
}

.planet-circleextra p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.planet-circleextra2 {
  position: absolute;
  top: 4300px; /* distance from top */
  left: 220px; /* distance from left */
  width: 450px;
  height: 400px;
  border-radius: 50%;
  border: 4px solid #f2958c;
  background-color: rgba(242, 149, 140, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #27282c;
  text-align: center;
  padding: 1.5rem;
}

.planet-circle4 {
  position: absolute;
  top: 1150px;
  left: 40px; /* distance from left */
  width: 300px;
  height: 270px;
  border-radius: 50%;
  border: 4px solid #a8ccb0;
  background-color: rgba(168, 204, 176, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #27282c;
  text-align: center;
  padding: 1.5rem;
}

.planet-circle,
.planet-circle2,
.planet-circle3,
.planet-circle4,
.planet-circleextra,
.planet-circleextra2 {
  transition: transform 1s ease, filter 0.9s ease, background-color 0.9s ease;
}

.planet-circle:hover,
.planet-circle2:hover,
.planet-circle3:hover,
.planet-circleextra:hover,
.planet-circle4:hover,
.planet-circleextra2:hover {
  transform: scale(1.07);
  background-color: rgba(186, 186, 213, 0.2); /* or a brighter version of their original */
  filter: brightness(1.9);
}

.planet-circleextra,
.planet-circleextra2 {
  display: none;
}
@media screen and (min-width: 700px) {
  .planet-circle {
    top: 240px;
    left: 350px;
    width: 270px;
    height: 270px;
  }

  .planet-circle2 {
    top: 770px;
    left: 500px;
    width: 370px;
    height: 340px;
  }

  .planet-circle3 {
    top: 1370px;
    left: 310px;
    width: 390px;
    height: 380px;
  }

  .planet-circle4 {
    top: 2290px;
    left: 500px;
    width: 350px;
    height: 350px;
  }

  .planet-circleextra,
  .planet-circleextra2 {
    display: block;
  }
}
